/* 
universal selector ------------------------------------------------------------------
* {
  
} 

*/

* {
  margin: 0px;
  padding: 0px;
  /* here as margin and padding property are not related to text they dont 
  get inherited hence we use universal selector */
}

/* element css rules ----------------------------------------------------------------*/
body {
  font-family: sans-serif;
  color: #444444;
  position: relative;
  /* parent element set to position as relative to use absolute positioned element inside the parent */
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: large30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;

  line-height: 1.5;
  margin-bottom: 15px;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

article {
  margin-bottom: 60px;
}

/* class based css rules-------------------------------------------------------------- */
#author {
  font-style: italic;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

/* main header css rules -----------------------------------------------------------------*/
.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;

  margin-bottom: 60px;
  /* height: 80px; */
  border-top: 10px solid #1098ad;
}

/* header in article element----------------------------------------------------------------------------- */
.post-header {
  margin-bottom: 40px;
}

/* aside --------------------------------------------------------------------------------- */
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;

  /* border-left: 5px solid #1098ad;
  border-right: 5px solid #1098ad; */

  /* padding-top: 50px;
  padding-bottom: 50px; */

  padding: 50px 0px;
  /* shorthand  */

  width: 500px;
}

/* list related css rules --------------------------------------------------------------*/

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}
/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:second-child {
  font-style: italic;
}
/* 
li:nth-child(2) {
  color: red;
} */

/* Misconception : this wont work */
article p:first-child {
  color: red;
}

/* Styling Links -------------------------------------------------------------------------*/

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color:#777 */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

/* Resolving conflicts -------------------------------------------------------------------*/
/* 
#copyright {
  color: red;
}

.text {
  color: orange;
}

.copyright {
  color: blue;
}

//important css property value selection 

footer p {
  color: green !important;
} */

/* ----------------------------------images----------------------------------------------- */

.post-img {
  height: auto;
  /* height must already be specified to use auto here */
  /* width: 800px; */
  width: 100%;
}

/* page centering ------------------------------------------------------------------------- */

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

/* inline level boxes  to block-----------------------------------------------------------------------*/

/* 
nav a {
  display: block;

  margin-top: 500px;  does not work as it is an inline element 
  padding: 40px;
  background-color: orange;
  margin: 20px;
} */

/* block level boxes to inline ---------------------------------------------------------------------- */
/* 
p {
  display: inline;
} */

/* inline block level boxes [inline + block] ----------------------------------------------------------------------- */

nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  /* margin-left: 100px; */
  margin-right: 0;
}

/* Absolute Positioning ----------------------------------------------------------------------------------------------*/

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  /* at first this will be absolute with respect to viewport i.e. current web page 
  but if we set its parent element as postion: relative then this will be positioned absolute 
  relative to parent*/
  /* top: 50px;
  left: 50px; */

  bottom: 50px;
  right: 50px;
}

/* ------------------------------pseudo element-------------------------------------------------------------------- */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
/* 
h2::first-letter {
  font-size: 80px;
} */
/* 
h3 + p::first-line {
  color: red;
} */

/* after and before pseudo element ---------------------------------------------------------------------------------- */

h2 {
  /* background-color: orange; */
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;

  display: inline-block;
  padding: 5px 10px;

  position: absolute;
  top: -15px;
  right: -25px;
}
